$enable-flex:               true;
$enable-grid-classes:       true;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';

h1 {
  margin-top: 50px;
}
